
  .login{
    margin-left: 1000px;
    justify-content: space-between;
}
  .container {
    max-width: 1200px;
    margin: 0 auto;
    /* display: flex; */
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    height: 100vh;
    display: grid;
    place-items: center;
    
  }
  .Quick{
    background-image: url(/images/back1.png);
    background-repeat: no-repeat;
    position: relative;
    left: 40px;
  background-size:100%;
  /* width: 280%; */
    
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav li {
    margin-right: 20px;
  }
  nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  .ultimate{
    font-size: x-large;
    font-weight: bold;
    /* margin-bottom: 500px; */
    /* background-image: url(/images/back1.png); */
  
  }
  #fix{
    color:#F25C5C;

  }
  #lorem{
    font-size: large;
  }
  #shoeOne{
    /* float: right; */
    /* width: 20%;  */
    
    /* margin-left: 400px; */
    position: relative;
    right: 20%;
    /* bottom: 500px; */
  }
  #button{
    padding: 10px;
    border-radius: 5px;
    background-color: #F25C5C;
  }

  
  .puma{
   display: flex;
   border: solid black;

  }
  .nike{
    display: flex;
    border: solid black;
  }
  .adidas{
    display: flex;
    border: solid black;
  }
  .collection{
    display: flex;
  }
  .product1{
    display: flex;
  }
  .product2{
    display: flex;
  }
  #styleImage{
    transform: rotate(-30deg);
  }
  .btn{
    text-align: center;
    margin-left: 350px;
    padding: 8px;
    background-color: #F25C5C;
  }
  .more{
    height: 500px;
  }
  .feature{
    align-items: center;
    margin-left: 300px;
  }
  .product1{
    margin-left: 200px;
  }
  .product2{
    margin-left: 200px;
  }
#subscribe{
  text-align: center;
}
#email{
margin-left: 400px;
}
#submit{
  margin-left: 10px;
  background-color: #F25C5C;
  padding: 5px 20px;
  border-radius: 5px;
}
.Fur{
  border: solid  #e4b0d4;
  background-color: #e4b0d4;
  height: 200px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 10px;
}
.end{
  display: flex;
    list-style: none;
    justify-content: space-between;
    height: 200px;
    padding: 50px;
    text-decoration-color: white;
    background-color: #F25C5C;
    margin-top: 50px;
}
#new{
  text-align: center;
}
.image2{
  display: flex;
  margin-left: 200px;
}
.image1{
  display: flex;
}
.special{
  display: flex;
}
#offer{
  position: relative;
  bottom: 20px;
}
#cost{
  color: #F25C5C;
}
#buy{
  background-color: #F25C5C;
}
#add{
  color: #F25C5C;
}
#testimony{
  color: #F25C5C;
}
.profile{
  margin-left: 500px;
  position: relative;
  bottom: 100px;
  height: 200px;
  background-color:whitesmoke;
  width: 30%;
  padding: 30px;
  border-radius: 20px;

}
/* trending.html */
header{
  display: flex;
}
body{
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}
ul{
  list-style: none;
  display: flex;
  gap: 20px;
}
.login{
  margin-left: 600px;
}
.home{
  gap: 20px;
}
.text{
  margin-left: 500px;
  position: relative;
  bottom: 600px;
}
#styleImage2{
  width: 10%;
}
#styleImage3{
  width: 7%;
}
#styleImage1{
  transform: rotate(-30deg);
  /* width: 20%; */
}

.product3{
  /* display: flex; */
  margin-left: 50px;
  position: relative;
  bottom: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);


}
@media only screen and (max-width:700px){
  .product3{
   grid-template-columns: repeat(1,1fr);
   grid-template-columns: repeat(4,1fr);
  }
}



.end2{
  display: flex;
    list-style: none;
    justify-content: space-between;
    height: 200px;
    padding: 50px;
    text-decoration-color: white;
    background-color:#F25C5C;
    margin-top: 50px;
    position: relative;
    bottom: 300px;
}
#similar{
  padding-left: 50px;
}
#minimal{
  color: #F25C5C
}
#order{
  color: #F25C5C;
  padding: 10px;
}
#cart{
  background-color: #F25C5C;
  padding: 10px;
}
.buttons{
  gap: 20px;
}
#percent{
  color: #F25C5C;
}
#size{
  color: #F25C5C;
  padding-left: 30px;
}
#adidas1{
  /* position: relative;
  bottom: 80px; */
  border: solid whitesmoke;
}
#puma1{
  border:solid whitesmoke;
}
#fila1{
  border: solid whitesmoke;
}
#nike1{
  border: solid whitesmoke;
}
.abt{
  color: white;
}
.contact{
  color: white;
}
.media{
  color: white;
}

#trend{
  color: blue;
}
 #shoey{
  width: 25%;
 }
.approach{
  display: flex;
  position: relative;
  left: 200px;
  
}
.vision{
  display: flex;
  position: relative;
  left: 200px;
}
.about{
  display: flex;
  position: relative;
  left: 200px;
}
#pair1{
  width: 30%;
 
} 

@media only screen and(min-width:576),(max-width:1200px){
  .product3{
   grid-template-columns: repeat(1,1fr);
   grid-template-columns: repeat(4,1fr);
   background-color:blue;
  }
  .container{
    background-color: white;
    height: 100vh;
    display: grid;
    place-items: center;

  }
  body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 10px;
  }
  header{
    flex-direction: row;
  }
  .footer{
    height: 40%;
    width: 100%;
  }
  .text{
    width: 50%;

  }
  #styleImage{
    /* height:100px; */
    width:100%;
    background-size:100%;
    background-position: center;

  }
  #styleImage1{
    /* height:100px; */
    width:(100%)/4;
    background-size:100%;
    background-position: center;
  }
  p{
    width: 50%;
  }
  
  .contact{
    width: 20%;
    
  }
  .media{
    width: 10%;
  }
  .product1{
    width: (100)/4;
    display: grid;
    place-items: center;
   margin-right: 500px;
  }
  .collection{
    width: (100)/4;
    display: grid;
    place-items: center;

  }
  .product2{
    width: (100)/4;
    display: grid;
    place-items: center;
    margin-right: 500px;
  }
  .product3{
    width: (100)/4;
    display: grid;
    place-items: center;
  }
  .vision{
    width: 50%;
  }

}